button {
    display: flex;
    
    left: 371px;
    /*width: 769px;*/
    height: 70px;
    opacity: 1;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 400px) {

    button {
      min-width: unset;
    }
  
  }
  
  @media (max-width: 800px) {
  
    button {
      margin: 0;
    }
  }